<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" link href="/static/css/digai_interacao.css">
  <title>Document</title>
</head>

<body>

  <section class="azul">

    <section class="verdinho">

      <h1>DIGAI</h1>
      <h3>Estudante</h3>
      <section class="descricao">
        <li>
          <ul>
            <span>nomenomenome</span>
          </ul>
          <ul>
            <span>section n.</span>
          </ul>
          <ul>
            <span> interact n.</span>
          </ul>
        </li>
        <section class="end-page">
          <section></section>
          <span>digai alguma coisa...</span>
        </section>
      </section>

    </section>

    <section class="vermelho">
      <h1 class="inter">Interacao</h1>
      <section class="digai">
        <section class="outronome">
          <h1>Para <p>Quem?</p></h1>
          <button type="submit"> EU </button>
          <br>
          <button type="submit"> Professor </button>
          <br>
          <button type="submit"> Todos </button>
          <br>
          <button type="submit"> Voce </button>
          <section class="li-of-ya">
            <button type="submit"> lista </button>
          </section>
        </section>

        <section class="qualquernome">
          <h1>Dig? <p class="a">Acao</p></h1>
          <button type="submit"> energia </button>
          <br>
          <button type="submit"> pergunta </button>
          <br>
          <button type="submit"> resposta </button>
          <br>
          <button type="submit"> desafio </button>
          <br>
          <button type="submit"> sentimento </button>
          <br>
          <button type="submit"> ajuda </button>
        </section>
      </section>
    </section>

    <a  id="nextArrow" href="#">
      <span>Go</span>
      <img src="/static/images/GoArrow.png" width="30px" alt="Next_Button">
    </a>
  </section>
</body>

</html>