<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" link href="/static/css/digai_interacao.css">
  <title>Document</title>
      <script>
        var digs = 0;
        var cats = 0;

        function mudaWho ( par ){
            if ( document.getElementById( par ).name == par ){
                document.getElementById( par ).style.color = "white";
                document.getElementById( par ).name = "";
                cats = cats -1;
            } else {

                if ( cats == 0) {
                    document.getElementById ( par ).style.color = "black";
                    document.getElementById ( par ).name = par;
                    cats = cats +1;
                }
                else {
                    refreshPage();
                }
            }
        }

        function mudaDig ( par ){

            if ( document.getElementById( par ).name == par ){
                document.getElementById( par ).style.color = 'white' ;
                document.getElementById( par ).name = "";
                digs = digs -1;
            } else {

                if ( digs == 0) {
                    document.getElementById ( par ).style.color = "black";
                    document.getElementById ( par ).name = par;
                    digs = digs+1;
                }
                else {
                    refreshPage();
                }
            }
        }
        function refreshPage() {
            window.location.reload();
        }
    </script>
</head>

<body>

  <section class="azul">

    <section class="verdinho">

      <h1>DIGAI</h1>
      <h3>Estudante</h3>
      <section class="descricao">
        <li>
          <ul>
            <span>{{nome}}</span>
          </ul>
          <ul>
            <span>Seção {{secao}}</span>
          </ul>
          <ul>
            <span> # {{ninter}}</span>
          </ul>
        </li>
        <section class="end-page">
          <section></section>
          <span>digai alguma coisa...</span>
        </section>
      </section>

    </section>

    <form style="text-align: left;" method="post">
    <section class="vermelho">
      <h1 class="inter">Interaction</h1>
      <section class="digai">
        <section class="who">
          <h1>To <p>Who?</p></h1>
          <input id="all" onclick="mudaWho('all')" value = "all" readonly="readonly" >
          <br>
          <input id="teacher" onclick="mudaWho('teacher')" value = "teacher" readonly="readonly">
          <br>
          <input  id="you" onclick="mudaWho('you')" value = "you" readonly="readonly" >
          <section class="li-of-ya">
            <button type="submit"> list </button>
          </section>
        </section>

        <section class="dig">
          <h1>Dig? <p class="a">Action</p></h1>
          <input id="power" onclick="mudaDig('power')" value = "power" readonly="readonly">
          <br>
          <input id="question" onclick="mudaDig('question')" value = "question" readonly="readonly">
          <br>
          <input id="answer" onclick="mudaDig('answer')" value = "answer" readonly="readonly">
          <br>
          <input id="challenge" onclick="mudaDig('challenge')" value = "challenge" readonly="readonly">
          <br>
          <input id="gifts" onclick="mudaDig('gifts')" value = "gifts" readonly="readonly">
          <br>
          <input id="help" onclick="mudaDig('help')" value = "help-me" readonly="readonly" >
        </section>
      </section>
     </section>
        <a>
            <button class="btngo" type="submit" ># Go >> </button>
        </a>
    </form>

  </section>
</body>

</html>