<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head><meta content="text/html; charset=UTF-8" http-equiv="content-type">
        <title>Digai tela: palavra unica</title>
    </head>
    <body style="background-color: rgb(255, 153, 102); color: rgb(0, 0, 0);" alink="#ee0000" link="#0000ee" vlink="#551a8b">

        <span style="color: rgb(51, 51, 153); font-size: 30px;">Como você está se sentindo hoje? <br> Em uma palavra:</span>

        <form  method="post">
            <section>
                <input type="text" name="Palavra" id="word">
            </section>
            <div class="button">
                <button style="margin-top: 5px;" type="submit">Enviar</button>
            </div>
        </form>

    </body>
</html>