<body style="background-color:powderblue;" size=15>
<div><img src='/static/images/logo_small.png'></img></div>
<h2 style="text-align: center;"><strong></strong></h2>
<h1 style="text-align: center;"><strong>DigAí</strong></h1>
<hr />
<h2 style="text-align: center;"><strong> Sessão de Interação : {{codigo}}</strong></h2>
<hr />
<h2 style="text-align: center;"><strong>
<form style="text-align: center;" method="post" >
    <div>
        <br />
        <label for='palavra'> Pergunta {{frase}}:</label>
        <br />
        <input name='palavra' type='text' size="40" maxlengt"40" id='palavra'>
        <br />
        <br />
        <br />
    </div>
    <div class="button">
        <button type="submit">Enviar</button>
    </div>
</form>
</strong></h2>