<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale-1.0"/>
    <link rel="stylesheet" type="text/css" link href="/static/css/base.css">
    <title>Botões</title>
    <script>
        var maxPalavras = 0;
        function mudaEstado ( par ){
            if ( document.getElementById( par ).name == par ){
                document.getElementById( par ).style.color = "white";
                document.getElementById( par ).name = "";
                if ( maxPalavras > 0){
                    maxPalavras = maxPalavras -1;
                }
            } else {
                if ( maxPalavras < 8 ) {
                    document.getElementById ( par ).style.color = "black";
                    document.getElementById ( par ).name = par;
                    maxPalavras = maxPalavras +1 ;
                }
            }
        }
    </script>

  </head>

  <body>
    <div>
      <h1> Neste momento, quais Palavras<br>
        melhor representam seu sentimento<br>
        após esta aula de hoje ?<br>
        escolha até 8 opções </h1>
    </div>
    <form style="text-align: left;" method="post">
        <div>
            <input id="p11" onclick="mudaEstado('p11')" class="btn {{cor}}" value="ANIMAÇÃO" readonly="readonly">
            <input id="p12" onclick="mudaEstado('p12')" class="btn {{cor}}" value="CONFUSÃO" readonly="readonly">
            <input id="p13" onclick="mudaEstado('p13')" class="btn {{cor}}" value="DÚVIDAS" readonly="readonly">
            <input id="p14" onclick="mudaEstado('p14')" class="btn {{cor}}" value="DESESPERO" readonly="readonly">
        </div>
        <div>
            <input id="p21" onclick="mudaEstado('p21')" class="btn {{cor}}" value="CURIOSIDADE" readonly="readonly">
            <input id="p22" onclick="mudaEstado('p22')" class="btn {{cor}}" value="ALEGRIA" readonly="readonly">
            <input id="p23" onclick="mudaEstado('p23')" class="btn {{cor}}" value="NERVOSISMO" readonly="readonly">
            <input id="p24" onclick="mudaEstado('p24')" class="btn {{cor}}" value="EMPOLGAÇÃO" readonly="readonly">
        </div>
        <div>
            <input id="p31" onclick="mudaEstado('p31')" class="btn {{cor}}" value="CALMA" readonly="readonly">
            <input id="p32" onclick="mudaEstado('p32')" class="btn {{cor}}" value="PESSIMISMO" readonly="readonly">
            <input id="p33" onclick="mudaEstado('p33')" class="btn {{cor}}" value="ALÍVIO" readonly="readonly">
            <input id="p34" onclick="mudaEstado('p34')" class="btn {{cor}}" value="TÉDIO" readonly="readonly">
        </div>
        <div>
            <input id="p41" onclick="mudaEstado('p41')" class="btn {{cor}}" value="INSEGURANÇA" readonly="readonly">
            <input id="p42" onclick="mudaEstado('p42')" class="btn {{cor}}" value="ORGULHO" readonly="readonly">
            <input id="p43" onclick="mudaEstado('p43')" class="btn {{cor}}" value="RECEIO" readonly="readonly">
            <input id="p44" onclick="mudaEstado('p44')" class="btn {{cor}}" value="ANSIEDADE" readonly="readonly">
        </div>
        <div>
            <input id="p51" onclick="mudaEstado('p51')" class="btn {{cor}}" value="CONFIANÇA" readonly="readonly">
            <input id="p52" onclick="mudaEstado('p52')" class="btn {{cor}}" value="PREOCUPAÇÃO" readonly="readonly">
            <input id="p53" onclick="mudaEstado('p53')" class="btn {{cor}}" value="ENTUSIASMO" readonly="readonly">
            <input id="p54" onclick="mudaEstado('p54')" class="btn {{cor}}" value="OTIMISMO" readonly="readonly">
        </div>
        <div>
            <button class="btn grey21" type="submit">Enviar</button>
        </div>
    </form>
  </body>
</html>
