body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:#808080;
}

h1{
        color: white;
        text-align: left;
        font-size: 40px;
       	font-family: Arial, Helvetica, sans-serif;
        text-shadow: 5px 5px 5px rgb(0, 0, 0);
}

      .btn {
        	width:230px;
        	padding:18px 30px;
        	font-size:16px;
        	cursor: pointer;
        	border: none;
        	outline: none;
        	text-align: center;
        	color:white;
            font-weight: bolder;

      }

      .verde {
        	background-color: #4CAF50;

      }
      .verde:hover {
        	background-color: #46A049;

      }

      .azul {
        	background-color: #2196F3;
      }

      .azul:hover {
        	background-color: #0b7dda;

      }

      .vermelho {
          background-color: #f44336;

      }
      .vermelho:hover {
        	background-color: #da190b;

      }
      .laranja {
            background-color: #FF8C00;
      }
      .laranja:hover {
            background-color: #A0522D;
      }
      .golden {
          background-color: #DAA520;
      }
      .golder:hover {
            background-color: #B8860B;
      }
      .grey21 {
          background-color: #363636;
      }
      .grey21:hover {
          background-color:#4F4F4F;
      }

div {
        margin: 6px;
    }
